.legend {
    object-fit: cover;
    width: 678px !important;
    height: 384px !important;
    /* display: block !important;
    position: relative !important; */
}

.swiper {
    width: 100%;
    height: 100%;
    display: block !important;
    position: relative !important;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;


    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Typing indicator */
.indicator {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.typing {
    width: 50px;
    height: 50px;
    color: black;
    display: inline-block;
}