@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
    html {
      color-scheme: light !important;
    }

    .dark\:bg-gray-700 {
        background-color: white !important;
      };
  }
  
  
  @layer base {
    html {
      color-scheme: light !important;
    }
  }