@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@media (prefers-color-scheme: dark) {
    html {
        color-scheme: light !important;
    }

    ;

    .dark\:hover\:bg-gray-600:hover {
        background-color: rgb(249 250 251) !important;
    }

    ;

    .dark\:bg-gray-700 {
        background-color: white !important;
    }

    ;

    .dark\:bg-gray-800 {
        background-color: white !important;
    }

    ;

    .element {
        background-color: white !important;

    }


    @layer base {
        html {
            color-scheme: light !important;
        }
    }
}